.buttonContainer{
    width: 83.3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    height: 51px;
    background-color: #414144;
    color: #fff;
    border: 1px solid #414144;
}
.buttonContainer label{
    margin-right: 11px;
    margin-left: 8px;
}
.note{
    padding-right: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: #0089ff;
    padding-left: 10px;
    margin-right: -1px;
    font-size: 12px;
}