.tableItems{
    display: flex;
    align-items: center;
    justify-content: center;
}
.item {
    border:1px solid #ccc;
    padding: 5px;
    min-width: 20%;
}
.tableHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tableHeader .item{
    color:#5670a9;
}
.tableItems .item {
    border-top: 0px;
    color: #414144;
    font-size: 14px;
}