.App-header{
  background-color: #00172a;
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #fff;
}
.App-container{
  margin-top: 35px;
}